.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 30px;
  padding-top: 20%;
  justify-content: space-between;
}

.item0 {
  font-size: 30px;
	text-align: center;
  grid-area: 1/ 1/ 4/ 5 ;
}

.item1 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item1 img{
  width: 30%;
  cursor: pointer;
}

.container {
  position: relative;
  display: none;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}